<div class="col-12 col-md-8">
    <div class="address-area">
        <p>The following addresses will be used on the checkout page by default.</p>
        <div class="address-info">
            <div class="address-title"><h2>Current Address</h2></div>
                <div class="address-info-box">
                    <p>Name : {{ addressBook.first_name }}&nbsp {{ addressBook.last_name }}</p>
                    <p>Email : {{ addressBook.email }}</p>
                    <p>Mobile : {{ addressBook.phone }}</p>
                    <p>Address : {{ addressBook.address }}</p>
                    <p>District : {{ addressBook.city}}</p>

                    <p>Region : {{ addressBook.region }}</p>
                    <p>Postal Code :{{ addressBook.postal_code }}</p>

                </div>
            </div>
            <div class="addresses-btn-box">
                <button type="button" class="comn-btn black-btn" data-toggle="modal" data-target="#editAddressModal">Change Address</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade add-address-modal" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit ADDRESS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" class="form-horizontal">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" name="first_name" class="form-control" id="firstname" value="{{ addressBook.first_name }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" name="last_name" class="form-control" id="last_name" value="{{addressBook.last_name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Email</label>
                        <input type="email"  name="email"  class="form-control" id="email" value="{{addressBook.email}}">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Phone Number</label>
                            <input type="text" name="phone" class="form-control" id="phone" value="{{ addressBook.phone }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Address</label>
                            <input type="text" name="address" class="form-control" id="address" value="{{ addressBook.address }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Country</label>
                         <input name="country" class="form-control" type="text" readonly value="Tanzania" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Country</label>
                            <select name="region" class="form-control" id="region" onchange="myFunctiondepartment()">
                                <option value="{{ addressBook.region }}">{{ addressBook.region }}</option>
                                {% for distirct  in  distircts %}
                                    <option value="{{ distirct.name }}">{{ distirct.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Province</label>
                            <select name="city" class="form-control" id="city">
                                <option  value="{{ addressBook.city}}">{{ addressBook.city }}</option>
                            </select>
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Postal/Zip Code</label>
                            <input type="text" name="postal_code" required value="{{ addressBook.postal_code }}" placeholder="Postal Code" id="postal_code" class="form-control">
                    <p id="errmsg1"></p>
                        </div>
                       
                    </div>                     
                    <!--div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" value="marpur">
                            <label class="form-check-label" for="gridCheck">Set as default address</label>
                        </div>
                    </div-->
                    <div class="form-group">                        
                       <input type="submit" value="Save" class="btn btn-primary">
                        <button type="button" class="comn-btn black-btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                   $("#errmsg").html("Please Enter Numeric values Only").show().fadeOut("slow");
                   return false;
               }
           });
            $("#postal_code").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                   $("#errmsg1").html("Please Enter Numeric values Only").show().fadeOut("slow");
                   return false;
               }
           });
      });
    function myFunctiondepartment() {
        $('#city').empty();
        var x = document.getElementById("region").value;
        $.ajax({
            url: "{{ site_url('Account/getregion')}}",
            type: 'POST',
            data: {'name' : x},
            success: function(msg) {
                var data = JSON.parse(msg);
                $.each(data, function( index, item ) {
                var option = document.createElement("option");
                                option.text = item.name;
                                option.value = item.name;
                                var select = document.getElementById("city");
                                select.appendChild(option);
                });

            }
        });
    }
</script>
{% endblock %}