<div class="orders-area">
    <h2 class="comn-dash-account-heading">
       Order History
    </h2>
        <button type="button" class="btn btn-info"  style="background-color: #007bff;color:#1a1447;" data-toggle="modal" data-target="#myModal"> Download Orders</button><br><br>
        <div id="msg"> </div>
    
        {% if orders %}
        <table class="table table-striped order-history" class="display"  id="orderhistory">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>#{{ order.id }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>

                  {% if (order.shipping_method == "BAFREDO_Savings") %}
                    {% set foo = 15000 %}
                  {% endif %}
                   {% if (order.shipping_method == "Self_Collection") %}
                    {% set foo = 0 %}
                  {% endif %}
                   {% if (order.shipping_method == "Cash_On_Delivery") %}
                    {% set foo = 10000 %}
                  {% endif %}


                {{ order.currency}} {{order.total+foo}}</td>
                    <td>{{ order.created_at }}</td>
                    <td>
                        <a href='{{ base_url("account/order_history/#{order.id}") }}'  onclick="return confirm('Confirm deletion of Order ID {{ order.id }}?')" id="cancel_order" class="del-btn">Delete</a>
                        <a href='{{ base_url("cart/invoice/#{order.id}") }}' target="_blank" class="invc-btn">Invoice</a>
                        <button class="reoders rec-btn" data-id="{{order.id}}">Reorder</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
        <div class="my-account-outline-content">
            <strong><i class="fa fa-check"></i> No order has been made yet !</strong>
        </div>
    {% endif %}
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Get Orders List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <label>Select date</label>
        <input name="max" class="form-control" id="max" type="text"><br><br>
        <div class="data">
            <table id="dataResult" style="width:100%">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="DResult">
                     {% for order in orders %}
                            <tr>
                                <td>#{{ order.id }}</td>
                                <td>{{ order.order_status }}</td>
                                <td>{{ order.currency ~' '~ order.total }}</td>
                                <td>{{ order.created_at }}</td>
                                
                            </tr>
                        {% endfor %}
                    
                </tbody>
            </table>
        </div>
            
      </div>
      <div class="modal-footer">
            <input type="button" class="btn btn-primary" id="btnExport" value="Export" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script>
  
      $(document).on('click', '.reoders', function(){
       var id =  $(this).attr("data-id");
        swal({
            title: "You want to re-order?",
           // text: "You want to re-order?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#DD6B55',
            confirmButtonText: 'Yes',
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
        },
        function(isConfirm){
            if (isConfirm){
                $.ajax({
                    url: 'http://178.128.177.194/new.bafredo.com/cart/addCart',
                    type: 'get',
                    data: {'id': id},
                    dataType : "json",
                    error: function() {
                         alert('Something is wrong');
                    },
                    success: function(data) {
                        console.log(data.status);
                            if(data.status=="success"){
                                 $("#msg").addClass("alert alert-success").html("Order has been placed succesfully!").show().fadeOut(3000);
                                 setTimeout(function () {  
                                    window.location.href="http://178.128.177.194/new.bafredo.com/cart"; }, 3000);
                            }else{
                                 $("#msg").addClass("alert alert-warning").html("Already exist!").show().fadeOut(3000);
                            }
                      }
                });
                 
            }else{
                swal.close()
              //swal("Cancelled", "The selected items have been deleted successfully:)", "error");
            }
       });
    });


      
</script>
