
{% extends "layouts/front.twig" %}

{% block content %}
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- wishlist section start -->

    <section class="wishlist-section py-5">
        <div class="container">
            <div class="my-account-title">
                <h2>My wishlist</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="wishlist-list-area">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>PRODUCT NAME</th>
                                        <th>UNIT PRICE</th>
                                        <th>STOCK STATUS</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for res in result %}
                                        <tr>

                                            <td class="product-remove-icon"><a href="#"><i class="fa fa-times-circle"></i></a></td>
                                             <td class="wishlist-product-image"><img src='{{ asset("uploads/product/thumbnail/#{res.image}") }}'></td>
                                            <td>{{ res.name }}</td>
                                            <td>{{ res.currency }} {{ res.price }}</td>
                                            <td><button type="button" v-on:click="addToCart({{ product.toJson() }})" class="addCartBtn comn-btn">Add to cart</button>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
