
{% extends "layouts/front.twig" %}

{% block content %}
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- wishlist section start -->

    <section class="wishlist-section py-5">
        <div class="container">
            <div class="my-account-title">
                <h2>My wishlist</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="wishlist-list-area">
                        <p id="msg" style="background-colot:green"></p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr> 
                                        <th class="text-left">
                                          <label class="container-checkbox">
                                                <input type="checkbox" id="selectall">
                                                <span class="checkmark"></span>
                                            </label>
                                        </th>
                                        <th></th>
                                        <th></th>
                                        <th>PRODUCT NAME</th>
                                        <th>UNIT PRICE</th>
                                        <th></th>
                                       <!--  <th></th> -->
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if result %}
                                    {% for res in result %}
                                        <tr>
                                            <td  class="text-left">
                                                <label class="container-checkbox">
                                                    <input type="checkbox"  value="{{ res.id}}" onclick="resetSelectAll();" class="selectedId" name="items">
                                                    <span class="checkmark"></span>
                                                </label>
                                        </td>
                                             
                                            <td class="product-remove-icon"> <button type="button" class="btn btn-xs btn-danger delete" data-id="{{ res.id}}"><i class="fa fa-times-circle"></i></button></td>

                                             <td class="wishlist-product-image"><img src='{{ asset("uploads/product/thumbnail/#{res.image}") }}'>
                                             
                                           



                                             </td>
                                            <td>{{ res.name }}</td>
                                            <td>{{ res.currency }} {{ res.price }}</td>
                                            <td> 
                                                <a v-on:click="addToCart({{ res.toJson() }})" class="uicon-link" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>

                                                <a href="{{ base_url("product/detail/#{res.slug}") }}" class="icocn-link" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search-plus"></i></a>

                                            </td>
                                          <!--   <td><button type="button" v-on:click="addToCart({{ res.toJson() }})" class="addCartBtn comn-btn">Add to cart</button>
                                              
                                            </td> -->

                                        </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr>
                                          <td colspan="4" class="product-remove-icon"> No Records Found..</td>
                                        </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center">  
            <button id="deleteselected" class="comn-btn black-btn mr-5">Delete Selected</button>
            <button id="selectedItem" class="comn-btn black-btn">Add To Cart Selected</button>
        </div>
        </div>
    </section>
    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="item_id">
                    <p class="delete-text">Are you sure you want to delete this WISHLIST item?</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger confirmDelete">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '.delete', function(){
            var id = $(this).data('id');
            $('#item_id').val(id);
            $('#deletemodal').modal('show');
        });
        $(document).on('click', '.confirmDelete', function(){
            var ids = $('#item_id').val();
            var link = $('#base_url').val();
            var url = link+'account/remove_history';
            if(ids){
                $('#deletemodal').modal('hide');
            }
            {
                $.ajax({
                    url: url,
                    type: 'post',
                    data: 'id='+ids,
                    error: function() {
                       alert('Something is wrong');
                    },
                    success: function(data) {
                        $("#msg").addClass("alert alert-success");
                        $("#msg").html("Record removed successfully").show().fadeOut(3000);
                        setTimeout(function () { location.reload(); }, 2000);
                    }
                });
            }
        });

        $(document).on('click', '#deleteselected', function(){
           var item = [];
           $.each($("input[name='items']:checked"), function(){
                item.push($(this).val());
            });
            $('#item_id').val(item);
            $('#deletemodal').modal('show');
        });

        $(document).on('click', '#selectedItem', function(){
            var link2 = $('#base_url').val();
            var url = link2+'cart/addCartitem';
           var item = [];
           $.each($("input[name='items']:checked"), function(){
                    item.push($(this).val());
            });
            $.ajax({
                url: url,
                type: 'get',
                data: {'ids': item},
                dataType : "json",
                error: function() {
                    alert('Something is wrong');
                },
                success: function(data) {
                        console.log(data.status);
                            if(data.status=="success"){
                                   
                                $("#msg").addClass("alert alert-success");
                                $("#msg").html("items add to cart").show().fadeOut(3000);
                            }else{
                                 $("#msg").addClass("alert alert-warning").html("Already exist!").show().fadeOut(3000);
                            }
                      }
                });
                 
           
        });

$(document).ready(function () {
    $('#selectall').click(function () {
        $('.selectedId').prop('checked', isChecked('selectall'));
    });
});
function isChecked(checkboxId) {
    var id = '#' + checkboxId;
    return $(id).is(":checked");
}
function resetSelectAll() {
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    if ($(".selectedId").length == $(".selectedId:checked").length) {
        $("#selectall").attr("checked", "checked");
    } else {
        $("#selectall").removeAttr("checked");
    }

    if ($(".selectedId:checked").length > 0) {
        $('#edit').attr("disabled", false);
    } else {
        $('#edit').attr("disabled", true);
    }
}
    </script>
{% endblock %}
