<div class="featured-products-single-box">
    <div class="featured-products-thumb"> 
        <a title="{{ product.name }}" href='{{ base_url("product/detail/#{product.slug}") }}'><img src='{{ asset("uploads/product/thumbnail/#{product.image}") }}' alt="{{ product.name }}" title="{{ product.name }}"></a>
        <div class="featured-products-hover-info">

            <a href="#" v-on:click="addToCart({{ product.toJson() }})" class="icon-link" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>

            <a href="{{ base_url("product/detail/#{product.slug}") }}" class="icon-link" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search-plus"></i></a>


           <a href="#" v-on:click="addToWishList({{ product.id }})" class="icon-link" data-toggle="tooltip" data-placement="top" title="Login to use whishlist"><i class="fa fa-heart-o"></i></a>

            <!--a href="#" class="icon-link" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i></a-->
        </div>
    </div>
    <div class="featured-products-info">                            
        <div class="featured-products-title">
            <h3><a href="#">{{ product.name |striptags|slice(0, 20) }}</a></h3>
            <span class="featured-products-price">{{ product.currency ~' '~ product.price }}</span>
        </div>
    </div>
   
</div>