{% extends "layouts/front.twig" %}
{% block styles %}

    <style type="text/css">
    input[type='file'] {
  color: transparent;
}
        .bodyFrame .pc .accountFrame .leftFrame .accountNav .select {
            background: #0f054a;
            color: #FFFFFF;
        }
        .bodyFrame .pc .accountFrame .rightFrame .btn {
            width: auto;
            height: auto;
            font-size: 12px;
        }
        .btn-danger {
            color: #fff !important;
            background-color: #d9534f !important;
            border-color: #d43f3a !important;
        }
        .progress {
            display: none;
            position: absolute;
            width: 295px;
            background-color: green;
            border: 0px solid blue;
            padding: 0px;
            border-radius: 3px;
        }

        .progress-bar {
            background-color: green;
            width: 0%;
            height: 30px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }

        .percent {
            position: absolute;
            display: inline-block;
            color: #fff;
            font-weight: bold;
            top: 50%;
            text-align: center !important;
            margin-top: -9px;
            margin-left: -20px;
            -webkit-border-radius: 4px;
        }
        #errmsg,#errmsg1 {
         color: red;
        }
       .user-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 0;
        border-image: round;
        }
        
    </style>
{% endblock %}
{% block content %}

<section class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="breadcrumb-area">
                    <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-account-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="my-account-menu-area">
                    <div class="nav flex-column">
                        
                        <a class="nav-link aMenu_0 {{(page=='account')?'select':''}}" href="{{ base_url('account') }}">My Account</a>
                        <hr>
                        <a class="nav-link aMenu_1 {{(page=='order_history')?'select':''}}" href="{{ base_url('account/order_history') }}">Order History</a>
                        <hr>
                        <a class="nav-link aMenu_2 {{(page=='address_book')?'select':''}}" href="{{ base_url('account/address_book') }}">Address Book</a>
                        <hr>
                         <a class="nav-link aMenu_3 {{(page=='password')?'select':''}}" href="{{ base_url('account/changePassword') }}">Change Password</a>
                        <hr>
                        <a class="nav-link aMenu_3 {{(page=='wish_list')?'select':''}}" href="{{ base_url('account/wish_list') }}">Wishlist</a>
                        <hr>
                        
                        <a class="nav-link" href="{{ base_url('user/logout') }}">Logout</a>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="my-account-area">
                    <div class="my-account-bg-content">
                         {{ include("partials/user/#{page}.twig") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

    <script>
       
         $("body").on("click", "#btnExport", function () {
            html2canvas($('#dataResult')[0], {
                onrendered: function (canvas) {
                      var TableData = new Array();

    $('#dataResult tbody tr').each(function(row, tr){
        TableData[row]={
            'taskNo' : $(tr).find('td:eq(0)').text()
            , "date" :$(tr).find('td:eq(1)').text()
            , "description" : $(tr).find('td:eq(2)').text()
            , "task" : $(tr).find('td:eq(3)').text()
        }    
    });
  
 var bodyData = [];
 console.log(TableData);
 datahead=[]
    datahead.push('Order');
    datahead.push('Status');
    datahead.push('Total');
    datahead.push('Date');
 bodyData.push(datahead);
$.each(TableData, function( index, value ) {
    var dataRow = [];
    
        dataRow.push(value.taskNo);
        dataRow.push(value.date);
        dataRow.push(value.description);
        dataRow.push(value.task);

  bodyData.push(dataRow)
});
         
        var docDefinition = {
            content: [
                {
                    text: 'Orders List', style: 'header' 
                 },
                {
                    table: {
                   
                       headerRows: 1,
                       widths: [ '*', '*', '*', '*' ],
                       body: bodyData
                    },
                    margin: [ 10, 10, 10, 10 ]
                       
                }
            ],
            defaultStyle: {
                layout: 'noBorders',
                fontSize: 15,
                alignment: 'center',
                fillColor: '#E8E8E8',
                border: [ false, false, false, false ],
            }
        };
        // styles: 
        //     {
        //        header:{
        //         fontSize: 18,
        //         bold: true,
              
        //         }, 
        //     };
        pdfMake.createPdf(docDefinition).download("Order.pdf");
       }
            });
        });
        
        
        function readProfile(input) {
            
              // alert(input.files[0].size);
                if(input.files[0].size > 2000000) {
                    $('#imgmsg').css('display','block');
                  //  $("#imgmsg").html("Please Enter Numeric values Only").show().fadeOut("slow");
                  //  alert('large');
                    $('#hprofile').value = ''; 
                     return false;
                }else{
                    $('#imgmsg').css('display','none');
                    
                }
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile').attr('src', '{{ base_url("assets/front/image/loading.gif") }}');
                }
                reader.readAsDataURL(input.files[0]);
                var fd = new FormData();
                var files = input.files[0];
             
                fd.append('file', files);
                var old_image = "{{ user.getUserImg() is empty ? base_url('assets/front/image/profile.png') : base_url("assets/front/image/users/")~user.getUserImg() }}"
                $.ajax({
                    url: '{{ base_url('account/upload_profile') }}',
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    beforeSend : function() {

                    },
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total) * 100;
                                $("#progressBar").animate({
                                    width: '' + percentComplete + ''
                                }, {
                                    duration: 5000,
                                    easing: "linear",
                                    step: function (x) {
                                            percentText = Math.round(x * 100 / percentComplete);
                                    }
                                });
                            }
                        }, false);
                        return xhr;
                    },
                    success: function(response){
                        var par_obj = JSON.parse(response);
                        if(par_obj.status == "success"){
                            $('.profile').attr('src', '{{ base_url("assets/front/image/users/")}}'+par_obj.name);
                            toastr.success("Updated succesffully" , {timeOut: 5000});

                        }
                        else{
                            alert(par_obj.name.replace(/<[^>]*>/g, ''));
                            $('.profile').attr('src', old_image);

                        }
                    },
                });
            }
        }

        $("#hprofile").change(function () {
            readProfile(this);
        });
        
   
       $('#orderhistory').DataTable( {
            columnDefs: [ { type: 'date', 'targets': [4] } ],
            order: [[ 4, 'desc' ]], 
            responsive: true,
        //     dom: 'Bfrtip',
        // buttons: [
        //      'pdf'
        // ]
        
        });
        

 
       
  
    
    $('#wishlistTable').DataTable( {
        responsive: true
    } );
    

    $("#max").daterangepicker({

    });
      $("#max").change(function(ev) {
           var firstDate = $(this).val();
           var link = $('#base_url').val();
           var url = link+'user/getFile/';

            $.ajax({
                  url: url,
                  type: 'get',
                  data: {"x" : firstDate},
                  dataType : "json",
                  error: function() {
                      alert('Something is wrong');
                  },
                  success: function(data) {
                    
                    $("#DResult").html(data.data);
                   //  $("#check").html('<h1>check</h1>');
                      console.log(data);
                       
                  }
          });
        });

    $(document).ready(function(){
        $("#changePassword").validate({
            rules: {   
                oldpassword: {
                    required: true,
                },
                newpassword:{
                    required: true,
                },
                confirmpassword:{
                    required: true,
                    equalTo: "#newpassword"
                }
            },
            messages: {
                oldpassword: {
                    required: "Current password is required",
                },
                newpassword:{
                     required: "New password is required",
                },
                confirmpassword: " Enter confirm password same as password",
            },
        });
    });
</script>
{% endblock %}
