{% extends "layouts/front.twig" %}
{% block content %}
    
      <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">All Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- view Products section start -->
    <section class="view-products-section py-4">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-lg-3 col-md-4 col-sm-6">
                        <div class="view-products-single-box">
                            <div class="view-products-thumb">
                                <a href="{{ base_url("product/detail/#{product.slug}") }}"> <img src="{{ asset("uploads/product/thumbnail/#{product.getImage()}") }}"></a>
                                <div class="view-products-hover-info">
                                    <button v-on:click="addToCart({{ product.toJson() }})" class="icon-link-btn" onclick="openNav()" data-toggle="tooltip" data-placement="top" title="Add to cart"> 

                                    <i class="fa fa-shopping-cart pr-2"></i> Add to cart</button>
                                </div>
                            </div>
                            <div class="view-products-info">                            
                                <div class="view-products-title">
                                    <h3><a href=#"> {{ product.getName() }} </a></h3>
                                    <span class="view-products-price">{{ product.getCurrency() ~' '~ product.getPrice() | round }}</span>
                                </div>
                            </div>
                            <div class="hover-icon-link-box">                            
                                

                                <a href="#" v-on:click="addToWishList({{ product.id }})" class="hover-icon-link" data-toggle="tooltip" data-placement="top" title="Wishlist">   

                                <i class="fa fa-heart-o"></i></a>
                                <!--a href="#" class="hover-icon-link" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a-->
                                <a href="#" class="hover-icon-link" data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search-plus" data-toggle="modal" data-target="#quickViewModal_{{product.id}}"></i></a>

                                 <!--a href="{{ base_url("product/detail/#{product.slug}") }}" class="hover-icon-link icon-link" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search-plus" data-toggle="modal" data-target="#quickViewModal"></i></a-->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade quick-view-modal" id="quickViewModal_{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-0 pb-0">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                     <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-md-5">
                                                <div class="quick-view-thumb-box">
                                                    <img class="demo-trigger" src="{{ asset("uploads/product/thumbnail/#{product.getImage()}") }}" data-zoom="{{ asset("uploads/product/thumbnail/#{product.getImage()}") }}">
                                                    <div class="view-products-hover-info">
                                                        <a href="{{ base_url("product/detail/#{product.slug}") }}" class="icon-link-btn">&nbsp VIEW DETAILS</a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="quick-view-content-box">
                                                    <div class="product-detail-heading"><h3>{{ product.getName() }} </h3></div>
                                                    <!--div class="product-detail-review-box">
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <a class="review-caption">No reviews</a>
                                                    </div-->
                                                    <div class="product-price"><span>{{ product.getCurrency() ~' '~ product.getPrice() | round }}</span></div>
                                                    <!--div class="product-sold-box"><span>25 sold in last 4 hours</span></div-->
                                                    <div class="product-detail-info">
                                                        <p>{{ product.getDescription() }}</p>
                                                    </div>
                                                    <div class="product-quantity-box">
                                                       
                                                        <button type="submit" class="product-quantity-btn widgets-numberpicker-decrement" v-on:click="decrementValue"><i class="fa fa-minus"></i></button>
                                                        

                                                        <input type="text" class="form-control product-quantity-input" v-model="product_quantity" v-on:keypress="onlyNumber" maxlength="9" minlength="1">
                                                        <button type="buttom" class="product-quantity-btn widgets-numberpicker-increment" v-on:click="incrementValue"><i class="fa fa-plus"></i></button>   
                      

                                       
                                                    </div>


                                                    <div class="product-btn-box mb-4"><button type="button" v-on:click="addToCart({{ product.toJson() }})" class="addCartBtn comn-btn black-btn w-100">Add to cart</button></div>

                                                    <div class="product-wishlist-box">                            
                                                        <a href="#"><i class="fa fa-heart-o pr-2"></i>Wishlist</a>
                                                    </div>
                                                    <div class="product-compare-box">                            
                                                        <!--a href="#"><i class="fa fa-refresh pr-2"></i>Compare</a-->
                                                    </div><hr>
                                                    <div class="product-meta-area">
                                                        <div class="product-meta-box">
                                                            <span class="product-meta-title">Vender :</span>
                                                            <a href="#" class="product-meta-name">abcd</a>
                                                        </div>
                                                        <div class="product-meta-box">
                                                            <span class="product-meta-title">SKU:</span>
                                                            <a href="#" class="product-meta-name">N/A</a>
                                                        </div>
                                                        <div class="product-meta-box">
                                                            <span class="product-meta-title">Categories:</span>
                                                            <a href="#" class="product-meta-name">Lighting</a>
                                                        </div>
                                                        <div class="product-meta-box">
                                                            <span class="product-meta-title">Tags:</span>
                                                            <a href="#" class="product-meta-name">lightning</a>
                                                            <a href="#" class="product-meta-name">£450.00 +</a>
                                                        </div>
                                                        <div class="product-meta-box mb-0">
                                                            <span class="product-meta-title">Share:</span>
                                                            <a href="#" class="product-meta-social-icon"><i class="fa fa-facebook"></i></a>
                                                            <a href="#" class="product-meta-social-icon"><i class="fa fa-twitter"></i></a>
                                                            <a href="#" class="product-meta-social-icon"><i class="fa fa-envelope"></i></a>
                                                            <a href="#" class="product-meta-social-icon"><i class="fa fa-pinterest"></i></a>
                                                            <a href="#" class="product-meta-social-icon"><i class="fa fa-tumblr"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
              
            </div>
        </div>




    </section>
       <div id="mySidenav" class="cart-sidenav">
        <div class="cart-sidenav-header">
            <h3 class="sidenav-heading">Shopping cart</h3>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close &times;</a>
        </div>
        <ul class="sidenav-cart-list-area"> 
            <li v-for="product in cart">
                <div class="cart-product-thumb">
                   <img :src="productImage(product.image)" :alt="product.name" :title="product.name">
                </div>

                <div class="cart-product-detail">
                    <a href="#" class="cart-sidenav-heading">${ product.name }</a>
                    <div class="sidenav-cart-list-box">
                        

                           <div class="input-group plus-minus-input">
                                    <div class="widgets-numberpicker">
                                        <div class="widgets-numberpicker-decrement" v-on:click="cartItemQuantityDecrement(product)"><i class="fa fa-minus"></i></div>
                                    </div>
                                    <div class="input-group-field item-quantity-count">
                                        <input type="text" class="form-control" v-model="product.quantity" v-on:keypress="onlyNumber" maxlength="9">
                                    </div>
                                    <div class="widgets-numberpicker">
                                        <div class="widgets-numberpicker-increment" v-on:click="cartItemQuantityIncrement(product)"><i class="fa fa-plus"></i></div>
                                    </div>
                                </div>
   

                        <span class="cart-price pl-2">
                       
                         <button class="removeBtn" v-on:click="removeFromCart(product)"> <i class="fa fa-times pr-2"></i></button>
                        ${ product.currency +' '+ product.price*product.quantity }</span>
                    </div>                    
                </div>  
                <li>
        </ul>

        <div class="sidenav-cart-detail">
            <form>
                <!--div class="form-group">
                    <label for="exampleFormControlTextarea1">Special instructions for seller</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div-->
                <!--p class="sidenav-cart-total">
                    <strong>Subtotal:</strong>
                    <td><span v-text="subtotal"></span></td>
                </p-->
                <!--div class="custom-control custom-checkbox mr-sm-2 mb-4">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">I agree with the <a href="#" class="tc-link">terms and conditions.</a></label>
                </div-->
                 <a class="comn-btn grey-btn d-block w-100 mb-3 showCartBtn" href="{{ base_url('cart') }}">View my cart</a>
                <!--button class="comn-btn grey-btn d-block w-100 mb-3">VIEW CART</button-->
                <button class="comn-btn d-block w-100"><a href="checkout.html">CHECKOUT</a></button>
            </form>            
        </div>
    </div>
{% endblock %}