{% extends "layouts/front.twig" %}
{% block content %}
    <div class="backTop"><i class="iconfont icon-backtop"></i></div>
    <div class="container-fluid bodyFrame">
        <div class="row pc">
            <div class="lineFrame">
                <ul class="breadcrumb">
                    <li><a title="Home" href="index.html">Home</a></li>
                    <li><a title="Arduino" href="{{ base_url('detail') }}">Arduino</a></li>
                </ul>
            </div>

            <div class="lineFrame ctgInfo">
                <div class="title">
                    <h1>Arduino</h1>
                </div>
                <div class="des">
                    Provides 500+ Arduino Products including Arduino Uno,Mega,Wifi,M0,101,Arduino Shields, Arduino Sensors and Arduino kits
                </div>
                <img src="{{ asset('front/image/category/Arduino-914x85.png') }}" alt="Arduino" title="Arduino"/>
            </div>

            <div class="lineFrame tagFrame">
                <div class="tags">
                    {% for category in subCategories %}
                    <a title="Arduino Accessories" href='{{ base_url("category/#{parent_slug}/#{category.getSlug()}") }}'>{{ category.getName() }}</a>
                    {% endfor %}
                </div>
                <div class="sort">
				<span>
					<select id="input-limit">
                        <option value="{{ base_url('detail') }}" selected="selected">16</option>
                        <option value="{{ base_url('detail') }}">25</option>
                        <option value="{{ base_url('detail') }}">50</option>
                        <option value="{{ base_url('detail') }}">75</option>
                        <option value="{{ base_url('detail') }}">100</option>
                    </select>
				</span>
                    <span class="t" style="display: none;">Num:</span>
                    <span>
					<select id="input-sort">
                        <option value="{{ base_url('detail') }}" selected="selected">Default</option>
                        <option value="{{ base_url('detail') }}">Name (A - Z)</option>
                        <option value="{{ base_url('detail') }}">Name (Z - A)</option>
                        <option value="{{ base_url('detail') }}">Price (Low &gt; High)</option>
                        <option value="{{ base_url('detail') }}">Price (High &gt; Low)</option>
                        <option value="{{ base_url('detail') }}">Model (A - Z)</option>
                        <option value="{{ base_url('detail') }}">Model (Z - A)</option>
                    </select>
				</span>
                    <span class="t">Sort by:</span>
                </div>
            </div>

            <div class="clear"></div>
            <div class="lineFrame">
                <div class="productList">
                    <ul class="fullmode">
                        {% for product in products %}
                        <li data-djs="">
                            <div class="img">
                                <a title="{{ product.getName() }}" href='{{ base_url("product/detail/#{product.getSlug()}") }}'>
                                    <img src='{{ asset("uploads/product/thumbnail/#{product.getImage()}") }}' alt="{{ product.getName() }}" title="{{ product.getName() }}" class="image-responsive" />
                                </a>
                            </div>
                            <div class="title">
                                <a title="USBtinyISP-Arduino bootloader programmer" href='{{ base_url("product/detail/#{product.getSlug()}") }}'>{{ product.getName() }}</a>
                                <span class="des">{{ product.getDescription() | raw }}</span>
                            </div>
                            <div class="btns">
                                <b class="price">{{ product.getCurrency() ~' '~ product.getPrice() | round }}</b>
                                <span class="sk">SKU: {{ product.getSku() }}</span>
                                <span class="sk">
                                    {{ (product.getStockStatus() == 1) ? 'In Stock' : 'Out of Stock' }}
                                </span>
                                <span class="c">
                                    <button class="addcart" type="button" onclick="cart.add('405');">
										<i class="iconfont icon-cart"></i>Add to Cart
									</button>
                                    <button class="wishlistli" type="button" onclick="wishlist.add('405',$(this));">
										<div class="oncon"><i class="iconfont icon-hart"></i></div>
										{#<div class="offcon"><i class="iconfont icon-hart2"></i></div>#}
									</button>
                                </span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="clear"></div>
            <div class="lineFrame" style="display: none;">
                <div class="col-sm-6 text-left"><ul class="pagination"><li class="active"><span>1</span></li><li><a href="{{ base_url('detail') }}?page=11">&gt;|</a></li></ul></div>
                <div class="col-sm-6 text-right">Showing 1 to 16 of 162 (11 Pages)</div>
            </div>
        </div>

        <div class="visible-xs mobile">
            <div class="lineFrame ctgInfo"></div>
            <div class="lineFrame tagFrame"></div>
            <div class="clear"></div>
            <div class="lineFrame">
                <div class="productList categoryList"></div>
            </div>
        </div>

    </div>
{% endblock %}