{% extends "layouts/front.twig" %}
{% block styles %}
    #refreshCaptcha{  cursor: pointer !important; }
{% endblock %}
{% block content %}
     <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ base_url('/') }}"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- Account section start -->
    <section class="account-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="account-form-area">
                        <div class="account-heading"><h2><i class="fa fa-user"></i>Register</h2></div>

                        <form id="register" name="registration" action="{{ base_url('registration/process') }}" method="post">
                            <span class="alert">   {{ userexit | raw }}  </span>

                            <div class="form-group">
                                <label for="user-name">User name <span class="required">*</span></label>
                                <input type="text" name="name"  class="form-control" id="user-name" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="mob">Mobile Number <span class="required">*</span></label>
                                <input type="text" name="phone" class="form-control" id="mob" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address <span class="required">*</span></label>
                                <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp">

                              

                            </div>
                            <div class="form-group">
                                <label for="pass1">Password <span class="required">*</span></label>
                                <input type="password" name="password" class="form-control" id="pass1">
                            </div>
                            <div class="form-group">
                                <label for="pass2">Confirm Password <span class="required">*</span></label>
                                <input type="password" name="confirm_password" class="form-control" id="pass2">
                            </div>
                            <h4>Security Questions</h4></hr>
                            <div class="form-group">
                                <label for="q1">Question #1 <span class="required">*</span></label>
                                <select class="form-control" required name="question[]" id="q1">
                                    <option value="">Select Question</option>
                                    {% for question in questions %}
                                        <option value="{{question.id}}">{{ question.question}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="a1">Answer <span class="required">*</span></label>
                                <input type="text" name="answer[]" required class="form-control ques vali" id="a1">
                            </div>
                            <div class="form-group">
                                <label for="q2">Question #2 <span class="required">*</span></label>
                                <select class="form-control" required name="question[]" id="q2">
                                     <option value="">Select Question</option>
                                    {% for question in questions %}
                                        <option value="{{question.id}}">{{ question.question}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="a2">Answer <span class="required">*</span></label>
                                <input type="text" required name="answer[]" class="form-control ans1 vali" id="qa">
                            </div>
                            <div class="form-group">
                                <label for="q3">Question #3 <span class="required">*</span></label>
                                <select class="form-control"  required name="question[]" id="q3">
                                     <option value="">Select Question</option>
                                    {% for question in questions %}
                                        <option value="{{question.id}}">{{ question.question}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="a1">Answer <span class="required">*</span></label>
                                <input type="text" name="answer[]" required class="form-control ques vali" id="a21d">
                            </div>

                            <span id="warning"></span>
                            <div class="form-group">
                                <label for="cp" class="captcha-box">
                                <div style="margin-left:50px;width:30%;float:left;" id="captchaImg">
                                    {{ cap.image | raw }}
                                </div>
                                <img src="{{ asset('img/refrsh.jpeg') }}" title="Refresh" height="50px" id="refreshCaptcha">
                                </label>
                                <input type="text" name="captcha" class="form-control" id="cp" placeholder="Enter Captcha..">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="agree" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I have seen and accepted <a href="{{ base_url('page/privacy-policy') }}">Privacy Policy</a> and  <a href="{{ base_url('page/terms-conditions') }}">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" id= "btns" class="account-outline-btn">REGISTER</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="account-info-area">
                        <div class="account-heading text-center"><h2></i>Register</h2></div>
                        <div class="account-info"><p>Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</p></div>
                        <div class="text-center"><a href="{{ base_url('/login') }}" class="comn-btn black-btn">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

<script>
   $(document).on('click', '#refreshCaptcha', function(){

        $.ajax({
            url: 'http://178.128.177.194/new.bafredo.com/refresh-captcha',
            type: 'get',
            error: function() {
                alert('Something is wrong');
            },
            success: function(data) {
                console.log(data);
                $('#captchaImg').html(data);
            }
        });
    });
    $("#q1").change(function(){
        var a=$(this).val();
        var b=$("#q3").val();
        $("#q2 option[value]").show();
        $("#q2 option[value=" + a + "]").hide();
        $("#q3 option[value=" + a + "]").hide();
        if(b != 0){
            $("#q2 option[value=" + b + "]").hide();
        }
    });
     $("#q2").change(function(){
        var a = $(this).val();
        var b = $("#q1").val();
        var c = $("#q3").val();

        $("#q1 option[value]").show();
        $("#q3 option[value]").show();

        $("#q1 option[value=" + a + "]").hide();
        $("#q3 option[value=" + a + "]").hide();

        if(b != 0){
          
            $("#q3 option[value=" + b + "]").hide();
        }
        if(c!= 0){
            $("#q1 option[value=" + c + "]").hide();
        }
       
    });
    $("#q3").change(function(){
        var a = $(this).val();
        var b = $("#q1").val();
        var c = $("#q2").val();

        $("#q1 option[value]").show();
        $("#q2 option[value]").show();


        $("#q1 option[value=" + a + "]").hide();
        $("#q2 option[value=" + a + "]").hide();

        if(b != 0){
            $("#q2 option[value=" + b + "]").hide();
        }
        if(c!= 0){
            $("#q3 option[value=" + c + "]").hide();
        }
    });


        $().ready(function() {



  
            $("#register").validate({
            
                rules: {
                    name:{
                        required: true,
                    },
                    phone:{
                        required: true,
                    },
                    email: {
                        required: true,
                        email: true
                    },      
                    password: {
                        required: true,
                    },
                    confirm_password:{
                        required: true,
                        equalTo: "#pass1"
                    },
                    captcha:{
                        required: true,
                    },
                    agree:{
                        required: true,
                    },

                },

                messages: {
                    name:{
                        required: "User Name is required",
                    },
                    phone:{
                       required: "Mobile Number is required",
                    },
                    email: {
                        required: "Email is required",
                    },     
                    password: {
                        required: "Password is required",
                    },
                    confirm_password: " Enter Confirm Password Same as Password",
                    captcha:{
                        required: "Captcha is required",
                    },
                    agree:{
                        required: "Accept terms and condition is required",
                    }
                },



            });


$("#btns").click(function(){
            setTimeout(function() {
            $("#q2").focusin();
            $("#q2").focusout();
            $("#q3").focusin();
            $("#q3").focusout();
            $("#qa").focusin();
            $("#qa").focusout();
            $("#a21d").focusin();
            $("#a21d").focusout();
         
                    }, 1500);

});
            /*$("#q1").rules("add", {
                required:true,
                messages: {
                    required: "Question #1 is required."
                }
            });
            $("#q2").rules("add", {
                required:true,
                messages: {
                    required: "Question #2 is required."
                }
            });*/
            
        });
        
</script>
{% endblock %}