{% extends "layouts/front.twig" %}
{% block styles %}
	<style>
		.lineFrame h2 {
			color: #0f054a;
			font-size: 30px;
			font-weight: bold;
		}
		.bodyFrame .pc .shoppingNavFrame {
            width: 100%;
            height: 89px;
            position: relative;
        }
        .bodyFrame .pc .shoppingNavFrame b {
            display: block;
            position: absolute;
            font-size: 30px;
            color: #0f054a;
            top: 35px;
        }
        .bodyFrame .pc .shoppingNavFrame ul {
            position: absolute;
            top: 27px;
            right: 0;
        }
        .bodyFrame .pc .shoppingNavFrame ul .select {
            border-bottom: 4px solid #ED6A00;
            color: #ED6A00;
        }
        .bodyFrame .pc .shoppingNavFrame ul .select {

            color: #ED6A00;

        }
        .bodyFrame .pc .shoppingNavFrame ul li {
            color: #707070;
            font-size: 18px;
            font-weight: bold;
            width: 166px;
            float: left;
            margin-left: 20px;
            border-bottom: 4px solid #A2A2A2;
            line-height: 30px;
            text-align: center;
        }
        .bodyFrame .pc .shoppingNavFrame ul li {
            color: #707070;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
        }
        .bodyFrame .pc .lineFrame {
            width: 1200px;
            min-height: 40px;
            position: relative;
        }
        .cart-table {
        	border-bottom: 2px solid #ddd;
        }
        .cart-table th, td {
            color: #535353;
            font-size: 18px;
        }
        .cart-table td:last-child,
        .cart-table th:last-child {
        	text-align: right;
        }
        .cart-footer {
        	float: right;
        }
        .cart-footer td {
        	padding-left: 100px;
        	padding-bottom: 10px;
        	color: #535353;
            font-size: 18px;
        }
        .cart-footer .btn-contine {
        	text-align: right;
        	margin-top: 20px;
        }
        .cart-footer .btn-contine button {
        	width: 250px;
        }
        .cart-table img {
            width: 94px;
            height: 63px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
        }
        .cart-table .img-thumbnail {
            display: inline-block;
            max-width: 100%;
            height: auto;
            padding: 4px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            float: left;
        	margin-right: 10px;
        }
        .btn-confirm {
        	display: block;
            width: 250px;
            height: 49px;
            line-height: 49px;
            background: #1d8229;
            border: solid 1px #1d8229;
            color: #FFFFFF;
            float: right;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
        .footer-row {
        	font-size: 20px;
            margin: 27px 0px;
            background: #0f054a;
            color: #fff;
            padding: 30px;
            display: block;
            text-align: center;
        }
		.save-address {
			font-size: 17px;
			margin-left: 6px;
			font-style: italic;
			color: #8a8a8a;
		}
        .red-asterisk {
            color: red;
        }
        .sec-shipping-method label,
        .sec-payment-method label,
        .sec-agreement label {
            font-size: 14px;
        }
        .info-message {
            margin: 10px;
            font-style: italic;
        }
		.bank-detail {
			transition: opacity 0.5s;
		}
		.bank-detail[style*="display: none;"] {
			opacity: 0;
			pointer-events: none; /* disable user interaction */
			user-select: none; /* disable user selection */
		}
		#errmsg,#errmsg1
        {
        color: red;
        }
        input#country {
            background: white;
        }
	</style>
{% endblock %}
{% block content %}
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Cart</a></li>
                                <li class="breadcrumb-item"><a href="#">Information</a></li>
                                <li class="breadcrumb-item" aria-current="page">Shipping</li>
                                <li class="breadcrumb-item active" aria-current="page">Payment</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout-section">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-12 col-md-7 py-5 pr-5">
                    <div class="">
                        <!--div class="checkout-heading-box">
                            <div class="checkout-section-heading"><h3>Contact information</h3></div>
                            <p class="mb-0 checkout-inner-heading"><span>Already have an account?</span> <a href="#">Log in</a></p>
                        </div-->  
                        <form action="{{ base_url('cart/confirm') }}" id="checkoutForm" class="form" method="post">
                            <!--div class="form-group">
                                <input type="text" class="form-control" id="inputmobile" placeholder="Email or mobile phone number">
                                <div class="custom-control custom-checkbox my-2 mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Keep me up to date on news and exclusive offers</label>
                                </div>
                            </div-->
                            <div class="checkout-section-heading pt-3"><h3>Shipping address</h3></div>
                            <div class="form-row">                            
                                <div class="form-group col-md-6">
										<input type="text" name="shippingAddress[first_name]" value="{{ formdata('first_name', shippingAddress.first_name) }}"  id="first_name" class="form-control" placeholder="First Name" required/>
                                </div>
                                <div class="form-group col-md-6">
										<input type="text" name="shippingAddress[last_name]" value="{{ formdata('last_name', shippingAddress.last_name) }}" id="last_name" class="form-control" placeholder="Last Name" required/>
								</div>
                            </div>
                                                   
                            <div class="form-group">
                                        <input type="email" name="shippingAddress[email]" value="{{ formdata('email', shippingAddress.email) }}"  id="email" class="form-control" placeholder="Email" required/>
                            </div>
                            <div class="form-group">
                               <input type="text" name="shippingAddress[phone]" value="{{ formdata('phone', shippingAddress.phone) }}"  id="phone" class="form-control" placeholder="Phone" required/>
										<p id="errmsg" style="color:red"></p>
                            </div>
                            <div class="form-group">
                                  <input type="text" name="shippingAddress[country]" readonly value="Tanzania"  id="country" class="form-control" placeholder="Country" required/>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">                            
                                 
                                   <select name="shippingAddress[region]" class="form-control" id="region" onchange="myFunctiondepartment()" required >
										      <option value="">Select Region</option>
				                        {#<option value="{{ addressBook.region }}">{{ addressBook.region }}</option>#}
											{% for distirct  in  distircts %}
												<option value="{{ distirct.name }}">{{ distirct.name }}</option>
											{% endfor %}

										</select>
                                </div>
                                <div class="form-group col-md-6">
                                   <select name="shippingAddress[city]" class="form-control" id="city" required>
										     <option value="">Select District</option>
											<option  value="{{ addressBook.city}}">{{ addressBook.city }}</option>

										</select>
                                </div>
                                </div>
                                 <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="shippingAddress[address]" value="{{ formdata('address', shippingAddress.address) }}"  id="address" class="form-control" placeholder="Address" required/>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="shippingAddress[postal_code]" value="{{ formdata('postal_code', shippingAddress.postal_code) }}" id="postal_code" class="form-control" placeholder="Postal Code" required/>
										<p id="errmsg1" style="color:red"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox my-2 mr-sm-2">
                                    <input type="checkbox" value="Yes" class="custom-control-input chkBike" id="customControlInline2">
                                   <!--  <input class="chkBike" type="checkbox custom-control-input" name="save_address" value="Yes" id="customControlInline2"/> -->
                                    <label class="custom-control-label" for="customControlInline2">Save this information for next time</label>
                                </div>
                            </div>
                            
                           <!--  <div class="form-group">
									<input class="chkBike" type="checkbox" name="save_address" value="Yes" id="save_address"/>
									<label for="save_address" class="form-label">Save as default shipping address</label>
							</div>   -->

							<h3>Shipping Method <span class="red-asterisk">*</span></h3>
							<ul class="sec-shipping-method">
								<li>
									<input type="radio" name="shipping_method" checked="checked" value="Self_Collection" id="Self-Collection">
									<label for="Self-Collection">Self-Collection (Free)</label>
									<span class="glyphicon glyphicon-info-sign" v-on:click="first()"></span>
									{#<div class="alert alert-info bank-detail" v-show="toggleBankDetailBox">#}
									<div class="alert alert-info bank-detail">
										This shipping method allows you to self-collect your goods at our physical stores located <a href="{{ base_url('page/contact-us') }}">here</a>.<br/>
										The method is recommended for customers in Dar es Salaam.
									</div>
								</li>
								<li>
									<input type="radio" name="shipping_method" v-model="ship" value="Cash_On_Delivery" id="cod">
									<label for="cod">Cash On Delivery (Estimated shipping fee: TZS 10,000)</label>
									<span class="glyphicon glyphicon-info-sign" v-on:click="second()"></span>
									<div class="alert alert-info bank-detail" v-show="toggleCODBox">
										This shipping method allows you to pay for goods on delivery. The actual shipping fee may deviate from the estimated one (of TZS 10,000)
										depending upon the following factors: total weight and delicacy of the purchased goods, and volume of the packaging material.<br />
										This method is recommended for customers in Dar es Salaam.
									</div>
								</li>
								<li>
									<input type="radio" v-model="ship" name="shipping_method" value="BAFREDO_Savings" id="bafsaving">
									<label for="bafsaving">Upcountry Delivery (Estimated shipping fee: TZS 15,000)</label>
									<span class="glyphicon glyphicon-info-sign" v-on:click="third()"></span>
									<div class="alert alert-info bank-detail" v-show="toggleBAFSAVINGBox">
										This shipping method is recommended for customers in regions outside Dar es Salaam. <br />
										The actual shipping fee may deviate from the estimated one (of TZS 15,000) depending upon the following factors: total weight and delicacy of the purchased goods, and volume of the packaging material.
									</div>
								</li>
							</ul>

							<h3>Payment Method <span class="red-asterisk">*</span></h3>
							<ul class="sec-payment-method">
								<li>
									<input type="radio" name="payment_method" value="bank_transfer" checked id="banktransfer" v-on:click="toggleBankDetailBox">
									<label for="banktransfer" data-toggle="tooltip" title="This payment method involves transferring money directly to our bank account.
										   Please use your Order ID as the payment reference. Your order may not be shipped until the transfer has been confirmed.">
										Direct Bank Transfer
									</label>
									<div class="alert alert-info bank-detail" v-show="bankDetailInfoBox">
										This payment method involves transferring money directly to our bank account.
										Please use your Order ID as the payment reference. Your order may not be shipped until the transfer has been confirmed.
									</div>
								</li>
								<li>
									<input type="radio" name="payment_method" value="tigopesa" id="tigopesa">
									<label for="tigopesa" data-toggle="tooltip" title="You will be redirected to Tigo Pesa Secure Payment Gateway to complete your payment.">
										Tigo Pesa - Online <img src="{{ asset('uploads/tigopesa.jpeg') }}" alt="tigopesa">
									</label>
								</li>

                                <!--li>
                                    <input type="radio" name="payment_method" value="paypal" id="paypal">
                                    <label for="paypal" data-toggle="tooltip" title="This payment method uses paypal Gateway, which integrates the following options: Mobile Money Transfer (Tigo Pesa, M-Pesa, and Airtel Money) and Electronic Cards (Visa and MasterCard).">
                                        PAYPAL (Tigo Pesa, M-Pesa, Visa, and MasterCard) <img src="{{ asset('uploads/pesapal.png') }}" alt="tigopesa">
                                    </label>
                                </li-->
							</ul>
                                                 
                            <div class="return-cart-shipping-box">
                                <a href="#" class="return-cart-text"><i class="fa fa-chevron-left mr-1"></i> Return to cart</a>
                                <!--button type="submit" class="shipping-btn">Continue to shipping</button--->
                                <button type="submit" class="shipping-btn btn-confirm">Confirm Order</button>
                            </div>
                        </form>                  
                    </div>
                </div>
                <div class="col-12 col-md-5 pb-5 checkout-product-list-area">
                    <div class="checkout-product-list-box">
                        <div class="table-responsive checkout-product-list-table-box">
                            <table class="table table-borderless">
                                <tbody>
                                    {% set totalPrice = 0 %}
									    {% for cart in cart_checkout %}
									       <tr>
												<td>
													<div class="checkout-product-thumb">
                                                        <img src="{{ base_url('//assets/uploads/product/thumbnail/') }}{{cart.image}}">
                                                        <div class="checkout-product-quantity">{{cart.quantity }}</div>
                                                    </div>
                                                <td>
												
												<td class="checkout-product-title">{{cart.name}}</td>
											    <td class="checkout-product-price">{{cart.currency }} {{cart.price }}</td>
											   
										
										 {% set totalPrice = totalPrice + (cart.quantity * cart.price) %}
										</tr>
									     
									     
									{% endfor %}
                                   
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout-product-total-box">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>Subtotal</td>
                                        <th><span>TZS {{ totalPrice }}</span></th>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td v-text="shipping"></td>
                                    </tr>
                                    <tr class="border-top">
                                        <td>Total</td>
                                        <td class="checkout-total-price"><span v-text="total"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
{% block scripts %}
	<script>
        
          /*$("#checkoutForm").validate({
        rules: {   
            shippingAddress[first_name]: {
                required: true,
            },
            'shippingAddress[last_name]': {
                required: true,
            },
            'shippingAddress[email]':{
                required: true,
            },
            'shippingAddress[phone]':{
                required: true,
            },
            'shippingAddress[country]':{
                required: true,
            },
            'shippingAddress[region]':{
                required: true,
            },
            'shippingAddress[city]':{
                required: true,
            },
            'shippingAddress[address]':{
                required: true,
            },
            'shippingAddress[postal_code]':{
                required: true,
            },
            save_address:{
                required: true,
            }
        },
        messages: {
            'shippingAddress[first_name]': {
                required: "First name is required",
            },
            'shippingAddress[last_name]': {
                required: "Last name is required",
            },
            'shippingAddress[email]':{
                required: "Email is required",
            },
            'shippingAddress[phone]':{
                required: "Phone Number is required",
            },
            'shippingAddress[country]':{
                required: "Country is required",
            },
            'shippingAddress[region]':{
                required: "Region is required",
            },
            'shippingAddress[city]':{
                required: "City is required",
            },
            'shippingAddress[address]':{
                required: "Address is required",
            },
            'shippingAddress[postal_code]':{
                required: "Postal Code is required",
            },
            save_address:{
                required: "This field is required",
            }
        },
    }); */





        $(document).ready(function () {
            $("#phone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                   $("#errmsg").html("Please Enter Numeric values Only").show().fadeOut("slow");
                   return false;
               }
           });
            $("#postal_code").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                   $("#errmsg1").html("Please Enter Numeric values Only").show().fadeOut("slow");
                   return false;
               }
           });
      });
		function myFunctiondepartment() {
			$('#city').empty();
			var x = document.getElementById("region").value;
			$.ajax({
				url: "{{ site_url('Account/getregion')}}",
				type: 'POST',
				data: {'name' : x},
				success: function(msg) {
					var data = JSON.parse(msg);
					$.each(data, function( index, item ) {
						var option = document.createElement("option");
						option.text = item.name;
						option.value = item.name;
						var select = document.getElementById("city");
						select.appendChild(option);
					});

				}
			});
		}
	</script>
{% endblock %}