{% extends "layouts/front.twig" %}
{% block styles %}
   
{% endblock %}
{% block content %}
       <!-- banner breadcrumb section start -->  
    <section class="banner-breadcrumb-section" style="background-image: url('{{ base_url("assets/img/about2.jpg") }}');">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <div class="banner-heading"><h1>{{ page.getName() }}</h1></div>
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ base_url("/") }}"><i class="fa fa-home pr-2"></i>Home</a></li>
                                 <li class="breadcrumb-item active" aria-current="page"><a href='{{ base_url("page/#{page.getSlug()}") }}'>{{ page.getName() }}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner breadcrumb section end -->

    <!-- about-us section start -->
    <section class="about-us-section py-5">
        <div class="container pt-4">
            <div class="row pb-5">                
                <div class="col-md-7 p-0">                
                    <div class="about-content-box">
                         <div class="comn-dark-inner-heading">
                             <h2>Our Story</h2>
                         </div>  
                        <div class="comn-info-box">

                        {% set paragraphs = page.getDescription() | split('</p>') %}
                        {% set firstParagraph = paragraphs[0] ~ '</p>' %}
                        {% set secondParagraph = paragraphs[1] ~ '</p>' %}
                        {% set thirdParagraph = paragraphs[2] ~ '</p>' %}


                            {{ firstParagraph|raw  }}
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about-image-box">
                        <img src="{{ base_url("assets/img/about3.jpg") }}">
                    </div>    
                </div>
            </div>
            <div class="row">
                 <div class="about-content-box">
                 {{  secondParagraph|raw  }}
                 </div>
                  <div class="about-content-box">
                 {{  thirdParagraph|raw  }}
                 </div>

                 
            </div>
            
        </div>
    </section>
    <!-- about-us section end -->

    <!-- about-featured-services-section start -->
    <section class="about-featured-services-section pb-5">
        <div class="container">
            <div class="comn-section-heading">
                <h2>Featured Services</h2>
                <p>Sales and manufacturing of electronic components and gadgets, electronic money transfer, and consultancy in electronics engineering.</p>
            </div>
            <div class="row py-4">
                <div class="col-12 col-md-4">
                    <div class="featured-services-single-box">
                        <div class="about-services-icon-box">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div class="about-services-heading">
                            <h3>Vision</h3>
                        </div>
                        <div class="about-services-info text-left">
                        <p><i class="fa fa-circle mr-2"></i>To be a leading Local and international trading and manufacturing Company of electronic components and systems</p>
                        <p><i class="fa fa-circle mr-2"></i>To be a leading Company in undertaking groundbreaking research in electronics, with a focus in addressing potential local and international problems</p>

                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="featured-services-single-box">
                        <div class="about-services-icon-box">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="about-services-heading">
                            <h3>Mission</h3>
                        </div>
                        <div class="about-services-info text-left">
                            <p><i class="fa fa-circle mr-2"></i>To grow together with customers exponentially by developing cost-effective, innovative, and creative solutions that simplify and improve human lives</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="featured-services-single-box core-values">
                        <div class="about-services-icon-box">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="about-services-heading">
                            <h3>Core values</h3>
                        </div>
                        <div class="about-services-info px-4 text-left">
                            <p><i class="fa fa-circle mr-2"></i>Integrity</p>
                            <p><i class="fa fa-circle mr-2"></i>Commitment</p>
                            <p><i class="fa fa-circle mr-2"></i>Open-mindedness</p>
                            <p><i class="fa fa-circle mr-2"></i>Quality</p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- banner-section start -->   
    <a href="{{ base_url("feature-product") }}"><section class="banner-section" style="background-image: url('{{ asset('theme/images/banner-4.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="banner-inner-area">
                        <h2 class="banner-heading">Featured Products</h2>
                        <!-- <div class="comn-info-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</p>
                        </div> -->
                        <a href="{{ base_url("feature-product") }}"><button type="submit" class="comn-btn">Read more</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="banner-feture-img">
                        <img src="{{ asset('theme/images/download.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section></a>
    <!-- banner-section end -->

    <!-- related Products section start -->
    <section class="related-products-section py-5">
        <div class="container">
            <div class="comn-section-heading pb-4">
                <h2>  New Arrivals</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="relatedProductSlider owl-carousel owl-theme">
                        {% for product in new_arrival_products %}
                            <div class="item">
                            <div class="related-products-single-box">
                                <div class="related-products-thumb">
                                    <img src='{{ asset("uploads/product/thumbnail/#{product.image}") }}' alt="{{ product.name }}" title="{{ product.name }}">                                  
                                </div>
                                <div class="related-products-info">                            
                                    <div class="related-products-title">
                                        <h3><a  href='{{ base_url("product/detail/#{product.slug}") }}'>{{ product.name |striptags|slice(0, 20) }}</a></h3>
                                        <span class="related-products-price">{{ product.getCurrency() ~' '~ product.getPrice() | round }}
                                            <div class="hover-comn-link-btn-box">
                                                <a href="javascript:void(0);" v-on:click="addToCart({{ product.toJson() }})"  class="hover-comn-link-btn"><i class="fa fa-shopping-cart pr-2"></i> Add to cart</a>
                                            </div>
                                        </span>                                        
                                    </div>                                    
                                </div>
                                <div class="hover-icon-link-box">                            
                                    <a v-on:click="addToWishList({{ product.toJson()  }})"  class="hover-icon-link" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                    <a href="{{ base_url("product/detail/#{product.slug}") }}"  class="hover-icon-link" data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search-plus" data-toggle="modal"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}