{% extends "layouts/front.twig" %}
{% block content %}

    <div class="container-fluid bodyFrame">
           <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- blog section start -->
    <section class="blog-section py-5">
        <div class="container">
            <div class="row">

                 {% for blog in blogs %}
                <div class="col-12 col-md-6">
                    <div class="blog-single-box">
                        <div class="blog-thumb">
                            <a href="{{ base_url("blog/detail/#{blog.getSlug()}") }}"><img src="{{ asset("front/uploads/blog/#{blog.getImage()}") }}"></a>
                            <div class="blog-post-date">
                                {{ blog.getCreatedAt() | date('d M') }}
                                <!--span class="blog-post-date-day">21</span>
                                <span class="blog-post-date-month">May</span-->
                            </div>
                            <a href="#" class="meta-post-categories">Lorem ipsum</a>
                        </div>
                        <div class="blog-detail">
                            <h4 class="blog-title"><a href="{{ base_url("blog/detail/#{blog.getSlug()}") }}" style="text-transform: capitalize;">{{ blog.getSlug() }}</a></h4>
                            <div class="blog-info">
                                <p>{{ blog.getDescription() |striptags|slice(0, 60) }}</p>
                            </div>
                            <a href="{{ base_url("blog/detail/#{blog.getSlug()}") }}" class="read-more-link">Read more</a>
                        </div>
                    </div>
                </div>

           
                 {% endfor %}

            </div>
            
            <!--div class="row pt-3">
                <div class="col-12 col-md-12">
                    <div class="navigation-area">
                        <nav aria-label="Page navigation custom-navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div-->
        </div>
    </section>
    </div>

{% endblock %}