{% extends "layouts/front.twig" %}
{% block styles %}
    <style>
        .lineFrame h2 {
            color: #0f054a;
            font-size: 30px;
            font-weight: bold;
        }
        .bodyFrame .pc .shoppingNavFrame {
            width: 100%;
            height: 89px;
            position: relative;
        }
        .bodyFrame .pc .shoppingNavFrame b {
            display: block;
            position: absolute;
            font-size: 30px;
            color: #0f054a;
            top: 35px;
        }
        .bodyFrame .pc .shoppingNavFrame ul {
            position: absolute;
            top: 27px;
            right: 0;
        }
        .bodyFrame .pc .shoppingNavFrame ul .select {
            border-bottom: 4px solid #ED6A00;
            color: #ED6A00;
        }
        .bodyFrame .pc .shoppingNavFrame ul .select {

            color: #ED6A00;

        }
        .bodyFrame .pc .shoppingNavFrame ul li {
            color: #707070;
            font-size: 18px;
            font-weight: bold;
            width: 166px;
            float: left;
            margin-left: 20px;
            border-bottom: 4px solid #A2A2A2;
            line-height: 30px;
            text-align: center;
        }
        .bodyFrame .pc .shoppingNavFrame ul li {
            color: #707070;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
        }
        .bodyFrame .pc .lineFrame {
            width: 1200px;
            min-height: 40px;
            position: relative;
        }
        .cart-table th, td {
            color: #535353;
            font-size: 18px;
        }
        .cart-table td:last-child,
        .cart-table th:last-child {
            text-align: right;
        }
        .cart-footer td {
            padding-left: 100px;
            padding-bottom: 10px;
            color: #535353;
            font-size: 18px;
        }
        .cart-footer .btn-contine button {
            width: 250px;
        }
        .cart-table img {
            width: 94px;
            height: 63px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
        }
        .btn-confirm {
            display: block;
            width: 250px;
            height: 49px;
            line-height: 49px;
            background: #1d8229;
            border: solid 1px #1d8229;
            color: #FFFFFF;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }
        .red-asterisk {
            color: red;
        }
        .sec-shipping-method label,
        .sec-payment-method label,
        .sec-agreement label {
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block content %}
        <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb" class="comn-breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home pr-2"></i>Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Cart</a></li>
                                <li class="breadcrumb-item"><a href="#">Checkout</a></li>
                                <li class="breadcrumb-item" aria-current="page">Confirm Payment</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="confirm-order-section py-5">
        <div class="container">
            <h2 class="comn-payment-heading">Confirm Order</h2>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="confirm-order-area">
                        <form action="{{ base_url('cart/pesapal') }}" class="form" method="post">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Order Number:</th>
                                        <td>{{ order.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date:</th>
                                        <td>{{ order.created_at }}</td>
                                  
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>{{ order.total + charge }}</td>
                                   
                                    </tr>
                                    <tr>
                                        <th>Payment method:</th>
                                        <td>{{ order.payment_method | replace({'_': " "}) | upper }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        <input type="hidden" name="order_number" value="{{ order.id }}"/>
                        <button type="submit" class="comn-btn btn-confirm">Pay Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}